body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .header {
    text-align: center;
    background-color: blue; /* just in case the browser doesn't support gradiants */
    background-image: linear-gradient(to right, blue, purple);
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }


  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

/* STYLE FOR CURRENTDAY */
  #container {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
  }

  /* .search-city {
    margin: 0 0 20px 0;
    border: 3px solid #38302e;
  } */


  .search-title {
    color: black;
    padding: 5px;
    margin: 25px 0 0 0;
    font-weight: bold;
  }

  /* BUTTON STYLES */
  .btn {
    font-size: 1.3rem;
    color: white;
    background-color: lightblue;
    display: block;
    border-radius: .3rem;
    padding: 0 200px 0 205px;
    margin: 2px 30px 0 0;
    border: 1px solid lightblue;
  }

  .btn:hover {
    background-color: white;
    color: blue;
  }

  .select-btn {
    font-size: 15px;
    text-align: center;
    width: 25%;
    color: grey;
    background-color: lightgrey;
    display: block;
    border-radius: .3rem;
    padding: 10px 200px 10px 200px;
    margin: 5px 30px 0 0;
    border: 1px solid lightgrey;
  }
  .select-btn:hover {
    color: blue;
    background-color: white;
  }


  /* FORM STYLES */

  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }

  /* .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  } */
  
  .form-input {
    width: 25%;
    padding: 1%;
    margin: 1px 0;
    font-size: 1.2rem;
    border: 2px solid lightgray;
    border-radius: .3rem;
  }

  #city {
    border-color: lightgray;
  }
  /* .border {
    border: 1px solid lightgray;
    margin: 
  } */

  .select-city {
    margin: 30px 0 0 0;
    padding: 0 12px 0 0;
  }

